/* * { border: 1px solid black; } */

.product-view {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4% 5%;
}

img, .single-prod-description {
  width: 50%;
}

.single-prod-description {
  padding-left: 4%;
}

.single-img-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.single-img {
  height: auto;
  overflow: hidden;
}

.single-img:hover {
  transform: scale(1.2)
}

.single-brand {
  margin-bottom: 12px;
  display: inline-block;
  position: relative;
}

.single-brand:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.single-brand:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #A93F55;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.single-name {
  font-weight: bold;
  font-size: 2.7rem;
}

.single-description {
  margin-bottom: 1.6rem;
}

.single-price {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 2.5rem;
}

.tiny-text {
  text-transform: capitalize;
  font-size: smaller;
  color:	#585858;
  margin-bottom: 10px;
}

.rating {
  display: flex;
  align-items: center;
}

.stars {
  width: 4.8rem;
  margin-right: 5px;
}

.rating {
  font-size: smaller;
}

.find {
  font-size: larger;
  align-self: center;
  background-color: #A93F55;
  color: white;
  padding: 1rem 3rem;
  width: 70%;
  border: none;
  border-radius: 10px;
}

.find:hover{
  color: #A93F55;
  border: solid #A93F55 1px;
  background-color: white;
}

.find:hover,
.single-img:hover,
.single-brand:hover {
  cursor: pointer;
}
