.makeup-card {
  width: 300px;
  padding: 0 14px ;
  position: relative;
}

.makeup-card:hover {
  box-shadow: 0px 5px 5px lightgray ;
}

.makeup-card:hover .name {
  color: #A93F55;
}

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.product-img > img {
  object-fit: fill;
  overflow: hidden;
}

.product-description {
  height: 170px;
  font-family: "Poppins", sans-serif;
}

.name {
  font-weight: 800;
  font-size: 19px;
  margin-bottom: 0;
}

.brand {
  text-transform: uppercase;
  margin-top: 8px;
}

.price {
  text-align: center;
  font-weight: bolder;
  border: solid gray 1px;
  border-radius: 9px;
  padding: 15px;
  width: 255px;
  position: absolute;
  bottom: 0;
  margin-bottom: 12px;
}
