.footer {
  background-color: #FDB1B7;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 3% 1%;
}

.footer-logo {
  padding: 1rem;
  padding-right: 12rem;
  /* margin-right: 12rem; */
  height: 6rem;
  width: auto;
}

.footer-list {
  margin: 0% 2%
}

.last {
  margin-right: 20%;
}