.footer {
  background-color: #FDB1B7;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 3% 7%;
}

.footer-logo {
  height: 6rem;
  width: 6rem;
}

.footer-list {
  margin: 0% 2%
}

.footer-list > a {
  display: flex;
  text-decoration: none;
  color: black;
}

a:hover {
  transform: scale(1.1);
}

@media (max-width: 700px) {
	.footer {
		flex-direction:column;
	}

  .footer-logo {
    align-self: center;
  }
  
  .footer-list,
  .footer-logo {
    margin-bottom: 3%;
  }
}